* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 320px;
    height: 100%;
    background: cornflowerblue;
    overflow: auto;
}

.side-hide {
    float: right;
    margin: 12px;
    color: black;
    opacity: .7;
    font-size: 24px;
    cursor: pointer;
}

.sidebar ul li {
    list-style: none;
    padding: 12px 10px;
}

    .sidebar ul li:hover {
        background: #4e4e4e;
        cursor: pointer;
    }

    .sidebar ul li a {
        text-decoration: none;
        color: black;
        font-size: 17px;
        font-family: sans-serif;
        opacity: .7;
    }
