.solis {
    width: 80%;
    background: #ffffff;
    padding: 30px 60px 40px 40px;
    border-radius: 6px;
    box-shadow: 0 5px 10px;
    margin-left: 8%;
    align-content: center;
}

    .solis .Contenido {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

#solis .Contenido .izquierdo {
    width: 25%;
    height: 100%;
    position: relative;
}

.Contenido .izquierdo::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    background: #42dca3;
}
